* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-image: url(https://cdn.oboi7.com/content/images/47/fd/47fd5b9079fca38b770667b74671bbe9455cdb8f.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  padding-bottom: 50px;
}

.wrapper{
  position: relative;
}
h1 {
  font-family: 'Comforter Brush', cursive;
  letter-spacing: 10px;
  font-size: 80px;
  font-weight: normal;
  -webkit-text-stroke: 0.02em rgba(0,0,0,.5);
  text-shadow: 0.03em 0 red;
}

.firstLetter {
  font-size: 100px;
}
.Searchbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  font-family: 'Estonia', cursive;
  letter-spacing: 2px;
  font-size: 35px;
 
}
.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
  font-family: 'Estonia', cursive;
  padding: 0 5px;
  box-shadow: 0px 2px 4px -1px rgba(196, 14, 14, 0.2), 0px 4px 5px 0px rgba(207, 22, 22, 0.14),
    0px 1px 10px 0px rgba(151, 5, 5, 0.12);
}

.startSelect {
    color: #4F4F4F;
    border: none;
    outline: none;
    display: inline-block;
    width: 100%;
    font: inherit;
    font-size: 28px;
    border: none;
    outline: none;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-weight: 700;
}

.SearchFormButton {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-image: url("../../images/heat.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.acceptButton {
  display: inline-block;
  width: 108px;
  height: 48px;
  /* border: 0; */
  border-radius: 20px;
  background-image: url("../../images/heat.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position:left;
  cursor: pointer;
  outline: none;
  margin-top: 47px;
  padding-left: 30px;
  font-weight: 700;
  font-size: 28px;
  background-color: rgb(145, 3, 3);
  box-shadow: 0px 2px 4px -1px rgba(196, 14, 14, 0.2), 0px 4px 5px 0px rgba(207, 22, 22, 0.14),
    0px 1px 10px 0px rgba(151, 5, 5, 0.12);
}

.submitButton {
   display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-image: url("../../images/magic.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  margin-left: 25px;
}

.SearchFormButton:hover {
  opacity: 1;
}

.SearchFormButtonLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchFormInput {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.greeting {
  margin: 20px;
  color: white;
  font-family: 'Estonia', cursive;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 0.06em 0 black;
  font-size: 35px;
}

.button {
  padding: 2px;
  box-shadow: 0px 2px 4px -1px rgba(196, 14, 14, 0.2), 0px 4px 5px 0px rgba(207, 22, 22, 0.14),
    0px 1px 10px 0px rgba(151, 5, 5, 0.12);
    border-radius: 10px;
    background-color: rgb(124 120 120 / 62%);
    font-family: 'Estonia', cursive;
    width: 200px;
  font-size: 40px;
  display: flex;
  font-weight: 700;
    justify-content: center;
    margin: 0 auto;
}

.pickText {
  font-family: 'Estonia', cursive;
    letter-spacing: 2px;
    font-size: 35px;
    margin-top: 20px;
    color: white;
}

.modal {
  position: absolute;
  top:20px;
  left: 50%;
  transform: translateX(-50%);
  width: 310px;
  margin: 0 auto;
  text-align: center;
  height: 320px;
  background-color: rgb(124 120 120 / 62%);
  background-image: url('../../images/herbT.png');
  background-size: cover;
  opacity: 0.7;
  border-radius: 15px;
  z-index: 3;
}
.bgd {
  background-color: transparent;
  width: 90%;
  height: 100%;
  position: absolute; 
      top: 50%;
    transform: translateY(25%);
  left: 5%;
  z-index: 2;
}
.text {
  background-color: black;
  color: #fff;
  margin-top: 130px;
  opacity: 1;
}

.name {
 font-size: 29px;
}