* {
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding-top: 80px;
    text-align: center;
  background-image: url(https://europe-today.ru/media/2011/11/The-Making-of-Harry-Potter1-900x5061.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 572px;
  padding-bottom: 50px;
  color: white;
  letter-spacing: 2px;

}

.wishForm {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishForm label {
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.wishInput{
  margin-bottom: 70px;
  font-weight: 700;
  width: 300px;
  padding: 5px;
}

.wishTitle {
  font-size: 34px;
  -webkit-text-stroke: 0.02em rgba(0,0,0,.5);
  text-shadow: 0.03em 0 red;
  background-color:  rgb(51 51 51 / 90%);
  width: 300px;
  margin: 0 auto;
}

.acceptButton {
    display: inline-block;
  width: 148px;
  height: 48px;
  border-radius: 20px;
  background-image: url("../../images/heat.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position:left;
  cursor: pointer;
  outline: none;
  padding-left: 30px;
  font-weight: 700;
  font-size: 28px;
  box-shadow: 0px 2px 4px -1px rgba(196, 14, 14, 0.2), 0px 4px 5px 0px rgba(207, 22, 22, 0.14),
    0px 1px 10px 0px rgba(151, 5, 5, 0.12);
}